[user]
	name = Pablo Bernardo
	email = iam@pbernardo.com
[core]
	editor = nvim 
[diff]
    tool =  nvim
[color]
  diff = true
  status = true
  branch = true
  interactive = true
  ui = true
  pager = true
[browser]
  arc
[push]
	default = current
[alias]
	st = status
	co = checkout
[credential]
	helper = cache
[branch]
	# rebase = true for every branch
	autosetuprebase = always
[pull]
	rebase = true
	default = current
[merge]
	tool = vimdiff
[mergetool]
	path = nvim
[github]
	user = iampbernardo
