[user]
	name = voylinux
	email = voylinux@gmail.com
[core]
	editor = atom
[diff]
    tool =  atom
[commit]
	template = ~/.gitmessage.txt
[color]
	ui = true
[push]
	default = matching
[alias]
	st = status
	co = checkout
[credential]
	helper = cache
